html {
  position: relative;
  min-height: 100%;
}
body {
  background: url('../../images/background1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.image{
  max-height: 60%;
  max-width: 60%;
  border-radius: 10px;
  display: block;
  margin: auto;
}
.well {
  background-color: rgba(81, 81, 81, 0.9);
  color:white;
}
.btn {
  font-size: 15px;
  background-color: #73ceea;
  color: white;
  margin-top: 12px;
}
li {
  list-style: none;
  font-size: 20px;
  text-align: left;
}
#head{
  text-align: center;
}
#buttonControl {
  display: block;
  margin: auto;
  margin-top: 10px;
}
a {
  color: white;
}
a:hover{
  color: #14CFDC;
}
#edit{
  border-radius: 10px;
  font-size: 15px;
}
.newAnimalInput{
  width: 200px;
  margin-top: 4px;
  margin-bottom: 4px;
}

label {
  color: #38BAE2;
  float: left;
  text-align: right;
  width: 300px;
  margin-right: 40px;
}
.animalsNew {
  text-align: left;
}
#animalList {
  text-align: center;
}
#food{
  margin-top: 10px;
  text-align: center;
}
select{
  font-size: 20px;
  color: #38BAE2;
}
h3 {
  text-align: center;
}
input {
  color: #38BAE2;
}
.listOfAnimals{
  color: #32a7cb;
}
em {
  color: #32a7cb;
}
