html {
  position: relative;
  min-height: 100%;
}
body {
  background: url('../../images/background1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.image{
  max-height: 80%;
  max-width: 80%;
  border-radius: 5px;

}
.well {
  background-color: rgba(81, 81, 81, 0.5);
  color:#00D4FF;
}
.btn {
  font-size: 13px;
  background-color: #00D4FF;
  color: white;
  margin-top: 12px;
}
li {
  list-style: none;
  font-size: 20px;
  text-align: left;
}
/*#head{
  text-align: center;

}*/
.new {
  /*height: 50px;
  width: 100px;*/
  border-radius: 10px;
  font-size: 15px;
}
.newAnimalInput{
  width: 200px;
  margin-top: 4px;
  margin-bottom: 4px;
}
select {
  width: 300px;
  font-size: 20px;
}
label {
  color: #34A2C4;
  float: left;
  text-align: right;
  width: 300px;
  margin-right: 40px;
}
.animalsNew {
  text-align: left;
}
